<h5> <%= player.name %> #<%= player.elo_rating %> </h5>
<ul style="font-size: 10px">
<p> height: <%= player.height %> </p>
<p> mass: <%= player.mass %> </p>
<p> bday: <%= player.birth_year %> </p>
<p> sex: <%= player.gender %> </p>
<p> race: <%= player.homeworld %> </p>
</ul>
