
<% players.each do |player| %>
  <h5> <%= player.name %> </h5>
  <ul style="font-size: 10px">
  <p> <%= player.height %> </p>
  <p> <%= player.mass %> </p>
  <p> <%= player.birth_year %> </p>
  <p> <%= player.gender %> </p>
  <p> <%= player.homeworld %> </p>
  </ul>
<% end %>
